:root {
  --primary-color: #fff;
  --text-color: #000;
  --background-color: crimson;
  --btn-color: blueviolet;
}
* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-color);
  background: var(--btn-color);
  font-size: 18px;
}
.container {
  background-color: var(--primary-color);
  width: 90%;
  max-width: 960px;
  margin: 20px auto;
  padding: 0 0 20px;
  border: 1px solid black;
  border-radius: 6px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  box-sizing: border-box;
  font-size: 16px;
  position: relative;
}
#page-banner {
  background-color: black;
  padding: 10px 0;
  border-bottom: 1px solid black;
}
#page-banner h1 {
  color: white;
  width: 100%;
}
h1,
h2,
h3 {
  font-weight: normal;
  text-align: center;
}
section h2 {
  width: 90%;
  margin: 40px auto;
}

#section-4 {
  margin-bottom: 40px;
}
ol {
  padding: 0;
  margin: auto;
  width: 90%;
}
li {
  width: 90%;
  margin: auto;
  padding: 12px;
  border-bottom: 2px solid gray;
  cursor: pointer;
}
li:hover {
  background-color: #f0f0f0;
  color: black;
  border-bottom: 2px solid black;
}

#submit {
  display: none;
  background-color: var(--btn-color);
  color: white;
  font-size: 30px;
  border: 1px solid var(--btn-color);
  border-radius: 6px;
  text-align: center;
  padding: 10px;
  margin: 15px auto;
}
#submit:hover {
  background-color: darkslateblue;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.5);
}
#result {
  background-color: var(--primary-color);
  color: var(--text-color);
  text-align: center;
  margin: 10% auto;
  width: 350px;
  border-radius: 10px;
  padding: 3rem;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: 1s;
}
#result h1 {
  margin-bottom: 1rem;
}
#result p {
  font-size: 1.2rem;
  margin-top: 1rem;
}
